.p{
    background-color: rgb(45, 109, 109);
}

#form{
    margin-left: 60px;
}
#first-name{

    margin-left: 30px;
    

}
#gender{
    margin-left: 44px;
}


#food{
    margin-left: 15px;
}
#last-name{

    margin-left: 30px;
    

}
#address{

    margin-left: 40px;
    

}
#pincode{

    margin-left: 42px;
    

}
#state{

    margin-left: 60px;
    

}
#country{

    margin-left: 42px;
    

}